<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New posts</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <form action="/posts" method="POST">
        <input type="text" name="username" placeholder="username"/>
        <br/><br>
        <textarea name="content" placeholder="content"></textarea>
        <br/><br>
        <button  class="btn btn-primary" type="submit">Create Post</button>
</body>
</html>